/* inicio */
.imgCarouselInicio{
    height: 450px;
    object-fit: cover;
}
.iconosCardInicio{
    font-size: 40px;
}
.imgTelefonoInicio{
    width: 1000px;
}
.iconosSeguridad{
    font-size: 40px;
}
.iconoSeccionSeguridad{
    margin: 0;
}