 QuienesSomos
.Banner{
    height: 20vh;
}

.Banner h2{
    font-family: 'Titan One', sans-serif;
    padding: 1em;
}

.El-equipo{
    margin-bottom: 5em;
}
.Logo{
  font-family:'Titan One', sans-serif ;
  font-size: 30px;
}
@media all and (max-width: 767px) {
    .Banner {
      text-align: center; 
      height: auto; 
    }
  
    .Banner h2 {
      text-align: center; 
      margin: 0; 
    }

    .imagen-usuarios{
      width: 40%;
    }
  }
  
@media all and (min-width:767px) and (max-width:992px){
    .Banner{
        height: 15vh;
    }
    .Banner h2{
    
        font-size: 100px;
    }
    
  
/* inicio */
.imgCarouselInicio{
    height: 450px;
    object-fit: cover;
}
.iconosCardInicio{
    font-size: 40px;
}
.imgTelefonoInicio{
    width: 1000px;
}
.iconosSeguridad{
    font-size: 40px;
}
.iconoSeccionSeguridad{
    margin: 0;
}